<div class="card-container">
  <!-- card1 -->
  <div class="card sedans">
    <img src="assets/icon-sedans.svg" alt="" />
    <h2>SEDANS</h2>
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. orem ipsum
      dolor, sit amet consectetur adipisicing elit Sunt error itaque praesentium
      nisi blanditiis laudantium ratione optio asperiores quam magni?</P
    >
    <button>Learn More</button>
  </div>
  <!-- card 2 -->
  <div class="card suvs">
    <img src="assets/icon-suvs.svg" alt="" />
    <h2>SUVS</h2>
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. orem ipsum
      dolor, sit amet consectetur adipisicing elit Sunt error itaque praesentium
      nisi blanditiis laudantium ratione optio asperiores quam magni?</P
    >
    <button>Learn More</button>
  </div>
  <!-- card 3 -->
  <div class="card luxury">
    <img src="assets/icon-luxury.svg" alt="" />
    <h2>LUXURY</h2>
    <P
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. orem ipsum
      dolor, sit amet consectetur adipisicing elit Sunt error itaque praesentium
      nisi blanditiis laudantium ratione optio asperiores quam magni?</P
    >
    <button>Learn More</button>
  </div>
</div>
