.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;


}

.card{
    width: 250px;
    max-width:100%;
    padding: 30px;
}
.sedans{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.suvs{
    background-color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card h2{
    color:hsl(0, 0%, 95%);
    margin-top:15px;
    margin-bottom:15px;
}

.card p{
    color:hsla(0, 0%, 100%, 0.75);
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 1.6;
}

button{
    margin-top:60px;
    padding: 10px;
    width: 120px;
    border-radius: 50px;
    border:none;
    cursor: pointer;
    border:3px solid transparent;

    transition: all 0.3s;
}

.sedans button{
    color: hsl(31, 77%, 52%);
}
.suvs button{
    color: hsl(184, 100%, 22%);
}
.luxury button{
    color: hsl(179, 100%, 13%);
}


.sedans button:hover{
    background-color: hsl(31, 77%, 52%);
}

.suvs button:hover{
    background-color: hsl(184, 100%, 22%);
}

.luxury button:hover{
    background-color: hsl(179, 100%, 13%);
}


.card button:hover{
    color:white;
    border:3px solid white;
    transform: scale(1.1);
}


@media(max-width:750px){
    .card-container{
        flex-direction:column;
    }
}

@media(max-width:500px){
    .card h2{
        font-size:20px;
    }
    .card p{
        font-size:12px;
    }
    .card button{
        font-size:13px;
    }
}

